<script type="text/javascript">
$(function () {
  // materialize初期化
  $(document).ready(function(){
    // サイドバー初期化(https://materializecss.com/navbar.html)
    $('.sidenav').sidenav();
  });
});
</script>

<% provide(:title, "イベント一覧") %>
<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="row">
    <h2>イベント一覧</h2>
    <%= link_to('イベント作成', events_add_path, :class => 'waves-effect waves-light btn') %>
    <hr>
    <%= render :partial => "list", :collection => @event, locals: {current_user_id: @current_user_id} %>
  </div>
</div>